<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Welcome</title>
 </head>

 <body>
 
 <h1>Welcome!</h1>

 <a href='/newteam'>To make a new team, click here.</a>
 <br>
 <a href='/team'>To go to team list, click here.</a>


 </body>
</html>